mySOAP.App/Service References/ServiceReference1/DistributorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/mySOAP.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mySOAP.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57945/DistributorService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Distributor">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distributor" nillable="true" type="tns:Distributor" />
  <xs:complexType name="ArrayOfDistributor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Distributor" nillable="true" type="tns:Distributor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistributor" nillable="true" type="tns:ArrayOfDistributor" />
</xs:schema>