mySOAP.App/Service References/ServiceReference1/DistributorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DistributorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57945/DistributorService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57945/DistributorService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57945/DistributorService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/mySOAP.Models" />
      <xsd:import schemaLocation="http://localhost:57945/DistributorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:57945/DistributorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/mySOAP.Responses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDistributorService_GetByStatusAndId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByStatusAndId" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetByStatusAndId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByStatusAndIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByStatus" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IDistributorService">
    <wsdl:operation name="GetByStatusAndId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/GetByStatusAndId" message="tns:IDistributorService_GetByStatusAndId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/GetByStatusAndIdResponse" message="tns:IDistributorService_GetByStatusAndId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/GetAll" message="tns:IDistributorService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/GetAllResponse" message="tns:IDistributorService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/GetById" message="tns:IDistributorService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/GetByIdResponse" message="tns:IDistributorService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/GetByStatus" message="tns:IDistributorService_GetByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/GetByStatusResponse" message="tns:IDistributorService_GetByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/Add" message="tns:IDistributorService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/AddResponse" message="tns:IDistributorService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/Update" message="tns:IDistributorService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/UpdateResponse" message="tns:IDistributorService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDistributorService" type="tns:IDistributorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByStatusAndId">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/GetByStatusAndId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByStatus">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/GetByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistributorService">
    <wsdl:port name="BasicHttpBinding_IDistributorService" binding="tns:BasicHttpBinding_IDistributorService">
      <soap:address location="http://localhost:57945/DistributorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>